<p id="notice"><%= notice %></p>

<p>
  <strong>Lead architect:</strong>
  <%= @hourly_cost.lead_architect %>
</p>

<p>
  <strong>Design engineer:</strong>
  <%= @hourly_cost.design_engineer %>
</p>

<p>
  <strong>Network integration:</strong>
  <%= @hourly_cost.network_integration %>
</p>

<p>
  <strong>Technical project manager:</strong>
  <%= @hourly_cost.technical_project_manager %>
</p>

<%= link_to 'Edit', edit_hourly_cost_path(@hourly_cost) %> |
<%= link_to 'Back', hourly_costs_path %>
