<p id="notice"><%= notice %></p>

<h1>Cloud Management Systems</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cloud_management_systems.each do |cloud_management_system| %>
      <tr>
        <td><%= cloud_management_system.name %></td>
        <td><%= cloud_management_system.value %></td>
        <td><%= link_to 'Show', cloud_management_system %></td>
        <td><%= link_to 'Edit', edit_cloud_management_system_path(cloud_management_system) %></td>
        <td><%= link_to 'Destroy', cloud_management_system, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cloud Management System', new_cloud_management_system_path %>
