<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cloud_management_system.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @cloud_management_system.value %>
</p>

<%= link_to 'Edit', edit_cloud_management_system_path(@cloud_management_system) %> |
<%= link_to 'Back', cloud_management_systems_path %>
