<!-- Topnav -->
<nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom pt-1 pb-1">
  <div class="container-fluid">
    <span>
      <%= image_tag "NOKIA_LOGO_WHITE_MR.png", :class => "logo-img img-fluid ml--3" %>
    </span>
    <!-- Navbar links -->
    <span>
      <% if user_signed_in? %>
      <ul class="navbar-nav align-items-center ml-auto ml-md-0">
        <li class="nav-item dropdown">
          <a class="nav-link pr-0" style="cursor: pointer;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                <%= image_tag "profile-user.png" %>
              </span>
              <div class="media-body ml-2 d-none d-lg-block">
                <span class="mb-0 text-sm  font-weight-bold"><%= current_user.email %></span>
              </div>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-header noti-title">
              <h6 class="text-overflow m-0">Welcome!</h6>
            </div>
            <!--<a href="#!" class="dropdown-item">
                <i class="ni ni-single-02"></i>
                <span>My profile</span>
              </a>
              <a href="#!" class="dropdown-item">
                <i class="ni ni-settings-gear-65"></i>
                <span>Settings</span>
              </a>
              <a href="#!" class="dropdown-item">
                <i class="ni ni-calendar-grid-58"></i>
                <span>Activity</span>
              </a>
              <a href="#!" class="dropdown-item">
                <i class="ni ni-support-16"></i>
                <span>Support</span>
              </a>-->
            <div class="dropdown-divider"></div>
            <%= link_to destroy_user_session_path, method: :delete, :class => "dropdown-item" do %>
            <i class="ni ni-user-run"></i>
            <span>Logout</span>
            <% end %>
          </div>
        </li>
      </ul>
      <% else %>
      <!--<%= image_tag "nuage_h_white_large.png", :class => "logo-img img-fluid" %>-->
      <%= link_to "Login", new_user_session_path, method: :get, :class => "nav-item text-white"%>
      <%= link_to "Register", new_user_registration_path, method: :get, :class => "nav-item text-white"%>
      <% end %>
    </span>
  </div>
</nav>